<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title> employe list</title>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<caption>Employe list</caption>
		<hr>
		<a th:href="@{/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
		<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>FirstName</th>
					<th>LastName</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="theEmployees:${themploye}">
					<td th:text="${theEmployees.firstName}" />
					<td th:text="${theEmployees.lastName}" />
					<td th:text="${theEmployees.email}" />
					<td>
					<div class="btn-group">
					<form action="#" th:action="@{/showFormForUpdate}" method="POST">
					<input type="hidden" name="employeeId" th:value="${theEmployees.id}"/>
					<button type="submit" class="btn btn-info btn-sm">Update</button>
					</form>
					
					
				<form action="#" th:action="@{/delete}" method="POST">
				<input type="hidden" name="employeeId" th:value="${theEmployees.id}"/>
				<button type="submit" class="btn btn-danger btn-sm" onclick="if(!(confirm('are you sure you want to delete'))) return false">Delete</button>
				</form>
					</div>
					</td>
				</tr>
			</tbody>

		</table>


	</div>





</body>

</html>